.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.min-h-screen{
    min-height: 100vh;
}

.bg-red{
    background-color: rgb(227, 249, 145);
}

.flex-col{
    flex-direction:column ;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content:center;
}

.font-bold{
    font-weight: 855;
    font-size: 26px;
    padding: 13px
}

.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}
.text-blue{
    color: rgb(72, 27, 177);
    /* font-size: 500; */

}

.btn{
    padding:4px 12px;
    border:2px solid rgb(35, 19, 141);
    color: white;
    background-color: rgb(35, 19, 141);
    border-radius: 12px;
    cursor: pointer;
}


.text-center{
    text-align: center;
}

.my-2{
    margin-top: 8px;
    margin-bottom: 30px;

}

.btn1{
    padding:4px 12px;
    border:2px solid rgb(38, 75, 225);
    color: white;
    background-color: rgb(38, 75, 225);
    width: 280px;
    font-size: 1rem;
}